/* Custom styles for filter component
.ant-slider-track {
  background-color: #da34dd !important;
  background: linear-gradient(to right, #da458f, #da34dd) !important;
}

.ant-slider-handle::after {
  box-shadow: 0 0 0 2px #da34dd !important;
  background: #da34dd !important;
}

.ant-slider-rail {
  background-color: rgba(255, 255, 255, 0.2) !important;
} */

.ant-select-selector {
  background-color: #11111180 !important;
  border-color: #333 !important;
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

/* Ensure dropdown options are visible on dark background */
.ant-select-dropdown {
  background-color: #222 !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-selected {
  background-color: #333 !important;
}

.ant-select-item-option-active {
  background-color: #444 !important;
}

.ant-slider-tooltip-inner {
  background-color: #DA34DD !important; /* Màu nền */
  color: white !important; /* Màu chữ */
}

.handle::after {
  inset-block-start: -4px !important;
  height: 16px !important;
  width: 16px !important;
  background: radial-gradient(circle, #ff54ee 0%, transparent 60%) !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 16px 3px rgba(218, 64, 163, 0.53) !important;
}
.root {
  height: 8px;
  border-radius: 4px;
  background-color: #3a3841;
}
.track {
  height: 8px !important;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgb(218, 65, 162) 15% 85%,
    rgba(0, 0, 0, 0.7)
  ) !important;
}

