/* Custom scrollbar styles for products list */
.products-list::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(128, 128, 128, 0.2);
}

.products-list::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 4px;
}

.products-list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(255, 214, 0, 0.7) 0%,
    rgba(255, 165, 0, 0.7) 100%
  );
  border-radius: 10px;
}

/* .products-list::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgba(255, 214, 0, 0.9) 0%,
    rgba(255, 165, 0, 0.9) 100%
  );
} */

/* Firefox scrollbar styling */
.products-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 214, 0, 0.7) rgba(128, 128, 128, 0.2);
}

@media (min-width: 1920px) {
  .container {
      max-width: 1600px;
      padding-left: 0;
      padding-right: 0;
  }
}