@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Drone Ranger Pro';
  src: url('/src/assets/fonts/dronerangerpro_black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

:root {
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-display: swap;

  box-sizing: border-box;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-gradient {
  @apply bg-[linear-gradient(91.47deg,#DA458F_-6%,#DA34DD_113.05%)] 
         hover:bg-[linear-gradient(91.47deg,#DA458F_-10%,#DA34DD_113.05%)] 
         border-0 rounded-md font-semibold text-white shadow-md 
         transition-all outline-none;
}

.input-label {
  @apply text-[#89888B] font-semibold;
}